.circle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.small{
    width: 500px;
    /* height: 300px; */
    transition: all 1s ease-in-out;
}

.large{
    width: 600px;
    height: 600px;
    transition: all 1s ease-in-out;

}
.small label{
    font-size: 55px;
}

.change-size-btn{
    border: none;
    padding: .5em;
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    transition: all 1s ease-in-out;

}